# آدرس سایت وردپرس (backend). بدون / در انتها.
# مثال: https://api.example.com یا https://example.com/wp
NEXT_PUBLIC_WP_URL=

# اگر ووکامرس دارید، این کلیدها را از WooCommerce > Settings > Advanced > REST API بسازید.
NEXT_PUBLIC_WC_CONSUMER_KEY=
NEXT_PUBLIC_WC_CONSUMER_SECRET=
